

body
{
    background-image: url("../images/decision.jpg")  ;
    background-color: rgb(255, 251, 251);
    background-size: 1550px 1100px;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    text-align: center;   
}







.main  {
    border: 5px solid white;
    border-radius: 10px;
    background-color:  rgba(231, 226, 226,0.5);

    margin: auto;
    font-size: 15px;
    height: 1250px;
    width: 1250px;
    
    
}
.prolog  {
    border: 5px solid white;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.5);
    font-size: 15px;
    margin: auto;
    width: 925px;
    padding: 10px;
  
   
}

.Choice1{
    border: 5px solid white;
    border-radius: 10px;
    background-color: #f0e8e8;
    font-size: 15px;
    margin:auto;
    width: 250px;
    padding: 10px;
    text-decoration: none;
   
}

.Choice2{
    border: 5px solid rgb(207, 214, 218);
    border-radius: 10px;
    background-color: #c2bdbd;
    font-size: 15px;
    margin: auto;
    width: 250px;
    padding: 10px;
    text-decoration: none;
   
   
}



.icomenu
{
    border: 5px solid rgb(209, 217, 226);
    border-radius: 10px;
    font-size: 15px;
    height: 125px;
    width: 250px;
    position: fixed;
    opacity: 0.9;
    text-decoration: none;
    
    
}
a:visited {
    text-decoration: none;
    color:#526897;
    transform: translateZ(0);
    }


    button 
    {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../images/reload.png")  ;
    background-size: cover;
    backdrop-filter: blur(5px);
    margin: right;
  
    }
p0 
{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: auto;
    
    
}


p2
 {
    text-decoration: none;
 }


 h1 
 {
    text-align: center;
    font-family: Impact, Haettenschweiler, sans-serif;
    font-size: 75px;
}

.Choice1:hover {
    filter: drop-shadow(5px 10px 10px black);
    transform: scale(1.1);
    }

button:hover {
    filter: drop-shadow(5px 10px 10px black);
    transform: rotateY(180deg);
    }
   
    
    
